body{
    font-family: Lato;
    margin: 0;
}
.header nav{
    background-color: transparent !important;
}
.header nav ul li{
    margin: 30px 50px 0px 50px;
}
.header nav ul li a{
    text-decoration: none;
    color: #43D9BD;
    font-weight: 900;
    cursor: pointer;
    padding: 0px 50px 0px 50px;
    border-bottom: .25rem solid #43D9BD;
    text-align: center;
} 
.header nav ul li a:hover{
    color: #F2B705;
    border-bottom: .25rem solid #F2B705;
}

.contact{
    background-color: #401404;
    color: white;
}
.contactContent{
    text-align: center;
}
.contact h3{
    text-align: center;
}

.contactintro{
    padding: 0px 350px 30px 350px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
}
.contactintro svg{
   margin: 5px;
}
.footer{
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
} 